<div class="page-content">
  <div class="container-fluid">

    <!-- Page Title & Breadcrumb -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0 font-size-18">{{ action.MenuTitle }}</h4>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a routerLink="/admin/admin-dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">{{ action.ParentMenuTitle }}</li>
              <li class="breadcrumb-item">{{ action.MenuTitle }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Card -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

              <div class="row mb-2">

                <!-- New Staff Button -->
                <div class="col-12 d-flex justify-content-end mb-2">
                  @if (action.CanCreate) {
                    <button mat-raised-button color="primary" (click)="openModal()">
                      New Staff
                    </button>
                  }
                </div>

                <!-- Show Entries -->
                <div class="col-sm-12 col-md-4">
                  <div class="dataTables_length">
                    <label>Show
                      <select
                        class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm"
                        [(ngModel)]="itemPerPage">
                        @for (option of PageSize; track option) {
                          <option [value]="option">{{ option }}</option>
                        }
                      </select> entries
                    </label>
                  </div>
                </div>

                <!-- Search -->
                <div class="col-sm-12 col-md-4 ms-auto">
                  <div class="dataTables_filter d-flex justify-content-end">
                    <label>Search:
                      <input type="search" class="form-control form-control-sm"
                        placeholder="" [(ngModel)]="Search">
                    </label>
                  </div>
                </div>

              </div>

              <!-- Table -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table
                      class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline"
                      role="grid">
                      <thead>
                        <tr role="row">
                          <th>S.No</th>
                          <th style="cursor:pointer" (click)="sort('StaffName')">Staff Name</th>
                          <th style="cursor:pointer" (click)="sort('StaffCode')">Staff Code</th>
                          <th style="cursor:pointer" (click)="sort('DesignationName')">Designation</th>
                          <th style="cursor:pointer" (click)="sort('StaffType')">Staff Type</th>
                          <th style="cursor:pointer" (click)="sort('FatherName')">Father's Name</th>
                          <th style="cursor:pointer" (click)="sort('MobileNo')">Mobile No</th>
                          <th style="cursor:pointer" (click)="sort('AlternateNo')">Alternate No</th>
                          <th style="cursor:pointer" (click)="sort('Email')">Email</th>
                          <th style="cursor:pointer" (click)="sort('DOB')">DOB</th>
                          <th style="cursor:pointer" (click)="sort('Gender')">Gender</th>
                          <th style="cursor:pointer" (click)="sort('Qualification')">Qualification</th>
                          <th style="cursor:pointer" (click)="sort('FullAddress')">Full Address</th>
                          <th style="cursor:pointer" (click)="sort('JoinDate')">Join Date</th>
                          <th style="cursor:pointer" (click)="sort('DepartmentName')">Department</th>
                          <th style="cursor:pointer" (click)="sort('Status')">Status</th>
                          @if (action.CanEdit) { <th>Edit</th> }
                          @if (action.CanDelete) { <th>Delete</th> }
                        </tr>
                      </thead>
                      <tbody>
                        @for (
                          item of StaffList
                            | filter: Search
                            | orderBy: sortKey : reverse
                            | paginate: { itemsPerPage: itemPerPage, currentPage: p };
                          track item.StaffId;
                          let i = $index
                        ) {
                          <tr>
                            <td>{{ (itemPerPage * (p - 1)) + i + 1 }}</td>
                            <td>{{ item.StaffName }}</td>
                            <td>{{ item.StaffCode }}</td>
                            <td>{{ item.DesignationName }}</td>
                            <td>{{ AllStaffTypeList[item.StaffType] }}</td>
                            <td>{{ item.FatherName }}</td>
                            <td>{{ item.MobileNo }}</td>
                            <td>{{ item.AlternateNo }}</td>
                            <td>{{ item.Email }}</td>
                            <td style="white-space:nowrap">{{ item.DOB | date: 'dd-MM-yy' }}</td>
                            <td>{{ AllGenderList[item.Gender] }}</td>
                            <td>{{ item.Qualification }}</td>
                            <td>{{ item.FullAddress }}</td>
                            <td style="white-space:nowrap">{{ item.JoinDate | date: 'dd-MM-yy' }}</td>
                            <td>{{ item.DepartmentName }}</td>
                            <td>
                              <span class="p-1"
                                [ngClass]="item.Status == 1
                                  ? 'badge text-bg-success'
                                  : 'badge text-bg-danger'">
                                {{ AllStatusList[item.Status] }}
                              </span>
                            </td>
                            @if (action.CanEdit) {
                              <td>
                                <a class="text-success p-1" style="cursor:pointer"
                                   (click)="editStaff(item)">
                                  <i class="bx bxs-edit-alt"></i>
                                </a>
                              </td>
                            }
                            @if (action.CanDelete) {
                              <td>
                                <a class="text-danger p-1" style="cursor:pointer"
                                   (click)="deleteStaff(item)">
                                  <i class="bx bxs-trash"></i>
                                </a>
                              </td>
                            }
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- Pagination -->
                <div>
                  <pagination-controls
                    (pageChange)="onTableDataChange($event)"
                    style="float:right;"
                    class="my-pagination">
                  </pagination-controls>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Modal -->
  @if (showModal && (action.CanEdit || action.CanCreate)) {
    <div class="modal fade show d-block" tabindex="-1"
         style="background:rgba(0,0,0,0.5)">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5">
              {{ Staff.StaffId > 0 ? 'Update' : 'New' }} Staff
            </h1>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>

          <div class="modal-body">
            <form #formStaff="ngForm">
              <div class="container">
                <div class="row">

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Staff Name</mat-label>
                    <input matInput #StaffName="ngModel" name="StaffName"
                      [(ngModel)]="Staff.StaffName" required autofocus>
                    @if ((StaffName.dirty || StaffName.touched) ||
                         (StaffName.invalid && isSubmitted)) {
                      <mat-error>Staff name is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Staff Code</mat-label>
                    <input matInput #StaffCode="ngModel" name="StaffCode"
                      [(ngModel)]="Staff.StaffCode" required>
                    @if ((StaffCode.dirty || StaffCode.touched) ||
                         (StaffCode.invalid && isSubmitted)) {
                      <mat-error>Staff Code is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Designation</mat-label>
                    <mat-select #DesignationId="ngModel" name="DesignationId"
                      [(ngModel)]="Staff.DesignationId" required>
                      @for (option of DesignationList; track option.DesignationId) {
                        <mat-option [value]="option.DesignationId">
                          {{ option.DesignationName }}
                        </mat-option>
                      }
                    </mat-select>
                    @if ((DesignationId.dirty || DesignationId.touched) ||
                         (DesignationId.invalid && isSubmitted)) {
                      <mat-error>Designation is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Department</mat-label>
                    <mat-select #DepartmentId="ngModel" name="DepartmentId"
                      [(ngModel)]="Staff.DepartmentId" required>
                      @for (option of DepartmentList; track option.DepartmentId) {
                        <mat-option [value]="option.DepartmentId">
                          {{ option.DepartmentName }}
                        </mat-option>
                      }
                    </mat-select>
                    @if ((DepartmentId.dirty || DepartmentId.touched) ||
                         (DepartmentId.invalid && isSubmitted)) {
                      <mat-error>Department is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Staff Type</mat-label>
                    <mat-select #StaffType="ngModel" name="StaffType"
                      [(ngModel)]="Staff.StaffType" required>
                      @for (staffType of StaffTypeList; track staffType.Key) {
                        <mat-option [value]="staffType.Key">{{ staffType.Value }}</mat-option>
                      }
                    </mat-select>
                    @if ((StaffType.dirty || StaffType.touched) ||
                         (StaffType.invalid && isSubmitted)) {
                      <mat-error>Staff Type is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Father Name</mat-label>
                    <input matInput name="FatherName" [(ngModel)]="Staff.FatherName">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>DOB</mat-label>
                    <input matInput name="DOB" [(ngModel)]="Staff.DOB"
                      [matDatepicker]="DOBPicker">
                    <mat-datepicker-toggle matIconSuffix [for]="DOBPicker"></mat-datepicker-toggle>
                    <mat-datepicker #DOBPicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Mobile No</mat-label>
                    <input type="number" matInput #MobileNo="ngModel" name="MobileNo"
                      [(ngModel)]="Staff.MobileNo" required>
                    @if ((MobileNo.dirty || MobileNo.touched) ||
                         (MobileNo.invalid && isSubmitted)) {
                      <mat-error>Mobile No is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Alternate No</mat-label>
                    <input type="number" matInput name="AlternateNo"
                      [(ngModel)]="Staff.AlternateNo">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput name="Email" [(ngModel)]="Staff.Email">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Gender</mat-label>
                    <mat-select name="Gender" [(ngModel)]="Staff.Gender">
                      @for (gender of GenderList; track gender.Key) {
                        <mat-option [value]="gender.Key">{{ gender.Value }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Qualification</mat-label>
                    <input matInput name="Qualification" [(ngModel)]="Staff.Qualification">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Full Address</mat-label>
                    <input matInput name="FullAddress" [(ngModel)]="Staff.FullAddress">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Join Date</mat-label>
                    <input matInput #JoinDate="ngModel" name="JoinDate"
                      [(ngModel)]="Staff.JoinDate" required
                      [matDatepicker]="JoinDatePicker">
                    <mat-datepicker-toggle matIconSuffix [for]="JoinDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #JoinDatePicker></mat-datepicker>
                    @if ((JoinDate.dirty || JoinDate.touched) ||
                         (JoinDate.invalid && isSubmitted)) {
                      <mat-error>Join Date is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-sm-3" subscriptSizing="dynamic">
                    <mat-label>Status</mat-label>
                    <mat-select #Status="ngModel" name="Status"
                      [(ngModel)]="Staff.Status" required>
                      @for (status of StatusList; track status.Key) {
                        <mat-option [value]="status.Key">{{ status.Value }}</mat-option>
                      }
                    </mat-select>
                    @if ((Status.dirty || Status.touched) ||
                         (Status.invalid && isSubmitted)) {
                      <mat-error>Status is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>

                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer mt-2">
            <button type="button" mat-raised-button color="warn"
              class="me-2" (click)="closeModal()">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveStaff()">
              {{ Staff.StaffId > 0 ? 'Update' : 'Submit' }}
            </button>
          </div>

        </div>
      </div>
    </div>
  }

</div>